body{
    background-color: #2929d1d3;
    font-family: "Sevillana", system-ui;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{

    background-color: aquamarine;
    font-family: "Sevillana", system-ui;
}